<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KidMartStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/Image/avarta-kidmart.png" style="width:32px;height:32px"/>
    <link rel="stylesheet" href="~/Content/Layout/Header.css" />
    <link rel="stylesheet" href="~/Content/Layout/Main.css" />
    <style>
        header {
            transition: all 0.5s ease;
        }

            header.scrolled {
                top: 0;
                height: 14vh;
                background-color: #FFC0CB; /* Màu thay đổi khi cuộn */
                padding: 10px; /* Giảm chiều cao khi cuộn */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Thêm bóng đổ */
            }

        .above-header {
            position: relative;
            background-color: black;
            height: 6vh;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .above-header a {
                text-decoration: none;
            }

            .above-header h3 {
                color: white;
                font-weight: bold;
            }
    </style>
    <style>
        footer {
            display: flex;
            flex-direction: column;
            background-color: #FFC0CB;
            color: #fff;
            padding: 50px;
            height: max-content;
        }

            footer .container {
                max-width: 100%;
                margin: 0 auto;
            }

            footer .row {
                display: flex;
                justify-content: space-between;
            }

            footer .col-md-4 {
                width: 20%;
            }
                footer .col-md-4 h3 {
                    color: black;
                }
                footer .col-md-4 p{
                    color: black;
                }
                footer .col-md-4 ul li{
                    margin: 5px 10px 20px 0px;
                    color: black;
                    text-decoration: none;
                }
                footer .col-md-4 a {
                    color: black;
                    text-decoration: none;
                    transition: all 0.2s ease;
                }
                footer .col-md-4 a:hover {
                    color: blue;
                    text-decoration: none;
                    font-weight: bold;
                }
                    footer .col-md-4 a img {
                        width: 32px;
                        height: 32px;
                        transition: all 0.4s ease;
                    }
                    footer .col-md-4 a img:hover {
                        transform: scale(1.3);
                    }
                footer .col-md-4 .form-input-email{
                    width: max-content;
                    background-color: white;
                    padding: 15px 30px 15px 30px;
                    border-radius: 30px;
                }
                footer .col-md-4 .form-input-email input{
                    border-radius: 20px;
                }
                footer .col-md-4 .form-input-email .input-mail{
                    padding: 5px 0px 5px 10px;
                    border: none;
                }
            footer .social {
                list-style: none;
                padding: 0;
                margin: 0;
            }
                footer .social li {
                    display: inline-block;
                    margin-right: 10px;
                }
                footer .footer-bottom{
                display: flex;
                align-items: center;
                justify-content: center;
                }
                footer .footer-bottom a{
                margin: 10px 30px 0px 30px
                }
    </style>
    <style>
        header .accordion-header-toggle-left {
            display: flex;
            justify-content: center
        }

        .menu-content {
            display: flex;
            flex-direction: column;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #FFC0CB;
            width: 200px;
            height: max-content;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .menu-product .menu-content div {
            margin: 10px 0px 0px 0px;
        }
            .menu-product .menu-content div a {
                padding: 30px 0px 15px 10px;
            }
        .menu-product{
            position: relative;
            transition: all 1s ease;
        }
        .menu-product:hover .menu-content {
            display: grid;
        }
    </style>
</head>
<body>
    <div class="above-header">
        <nav class="Logo-text" style="margin-left: 50px">
            <a href="~/Home/Index"><h3>KidMart</h3></a>
        </nav>
        <nav class="Location-function" style="margin-right:30px">

            @if (Session["Role"]?.ToString() == "Quản lý")
            {
                <a style="color: white; text-decoration:none" href="~/Admin/Dashboard">PageAdmin</a>
                <a style="color: white; text-decoration:none">|</a>
            }

            <a style="color: white; text-decoration:none" href="#"><img src="~/Image/icon-search-white.png" style="width:32px; height: 32px" /></a>

            @if (Session["Email"] != null)
            {
                <a style="color: white; text-decoration:none" href="#"><img src="~/Image/icon-cart-white.png" style="width:32px; height: 32px; margin-right:5px" /></a>
                <a style="color: white; text-decoration:none" href="~/Home/Profile"><img src="~/Image/User-icon-white.png" style="width: 24px; height: 24px; margin-right: 5px" /></a>
                <a style="color: white; text-decoration:none; cursor: pointer" href="~/Home/Profile">Hello <span>@(Session["Name"] ?? "Guest")</span>!</a>
                <a style="color: white; text-decoration:none" href="~/Account/Logout">Logout</a>
            }
            @if (Session["Email"] == null)
            {
                <a style="color: white; text-decoration:none" href="#" id="Not-Login"><img src="~/Image/icon-cart-white.png" style="width:32px; height: 32px; margin-right:5px" /></a>
                <a style="color: white; text-decoration:none" href="~/Account/Login">Sign in</a>
                <a style="color: white; text-decoration:none">/</a>
                <a style="color: white; text-decoration:none" href="~/Account/Register">Sign up</a>
            }

        </nav>
    </div>
    <header id="mainHeader">
        <div></div>
        <nav class="accordion-header-toggle-left">
            <a href="~/Home/Index">Trang chủ</a>
            <a href="~/Home/GioiThieu">Giới thiệu</a>
            <nav class="menu-product">
                <a style="align-items:center" href="~/Home/SanPham">Sản phẩm <span><img src="~/Image/down-arrow.png" style="width: 10px;height: 12px"/></span></a>
                <div class="menu-content">
                    <div><a href="#">Quần áo</a></div>
                    <div><a href="#">Đồ chơi</a></div>
                    <div><a href="#">Sữa cho bé</a></div>
                    <div><a href="#">Học tập</a></div>
                    <div><a href="#">Tả của bé</a></div>
                    <div><a href="#">Dụng cụ khác</a></div>
                </div>
            </nav>       
            <a href="#">Blog</a>
            <a href="#">Liên hệ</a>
            <a href="#">Kiểm tra đơn hàng</a>
        </nav>
        <div></div>
    </header>
    <main class="bodyFrame">
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Địa chỉ</h3>
                    <p>Yên Lăng, Hà Nội</p>
                    <p>Điện thoại: 0822221992</p>
                    <p>Email: Midishop@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <h3>Chính sách</h3>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Kiểm tra đơn hàng</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Hổ trợ khách hàng</h3>
                    <ul>
                        <li><a href="#">Tìm kiếm</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản dịch vụ</a></li>
                        <li><a href="#">Hướng dẫn kiểm tra đơn hàng</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Đăng ký nhận tin</h3>
                    <form class="form-input-email">
                        <input class="input-mail" type="email" placeholder="Nhập địa chỉ email">
                        <input type="submit" style="color: black; background-color: #FFC0CB; " value="Đăng ký"/>
                    </form>
                    <ul class="social" style="margin: 20px">
                        <li><a href="#"><i class="fab fa-facebook-f"><img src="~/Image/facebook-icon.png" /></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"><img src="~/Image/google-icon.png" /></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <a href="#"><img src="~/Image/logo_bct.png"/></a>
            <a href="#"><img src="~/Image/footer_trustbadge.png"/></a>
        </div>
    </footer>
    <script>
        // Lấy phần tử header
        const header = document.getElementById('mainHeader');

        // Thêm sự kiện khi cuộn trang
        window.onscroll = function () {
            if (window.scrollY > 50) { // Khi cuộn quá 50px
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        };
    </script>
    <script>
        document.getElementById('Not-Login').addEventListener('click', function () {
            // Kiểm tra xem người dùng có đăng nhập hay không
            if (!sessionStorage.getItem('isLoggedIn')) {
                alert('Bạn phải đăng nhập mới sử dụng được tính năng này! \nHãy đăng nhập tài khoản');
            }
        });
    </script>
</body>
</html>

