@model List<KidMartStore.Models.Product>

@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewBag.Title = "Trang chủ";
}
<head>
    <link rel="stylesheet" href="~/Content/CSS/IndexPage.css" />
    <link rel="stylesheet" href="~/Content/CSS/infor.css" />
    <link rel="stylesheet" href="~/Content/CSS/Slider.css" />
</head>
<div class="bodyFrame">
    <div class="firstContent">
        <nav class="selectForm">
            <h2>Danh Mục Hàng</h2>
            <div class="tab-content">
                @foreach (var category in Model.Select(m => m.Category).GroupBy(c => c.Name_Category).Select(g => g.First()))
                {
                    <label><span>Danh mục</span> @category.Name_Category</label><br />
                }
            </div>
        </nav>
        <div class="slider" style="margin-left: 40px;">
            <div class="list">
                <div class="item">
                    <img src="~/Image/Advertisement/img1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/Image/Advertisement/img2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/Image/Advertisement/img3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/Image/Advertisement/img4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/Image/Advertisement/img5.jpg" alt="">
                </div>
            </div>
            <div class="buttons">
                <button style="background-color: #000000; color: #fff;" id="prev"><</button>
                <button style="background-color: #000000; color: #fff;" id="next">></button>
            </div>
            <ul class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <script src="~/Content/JS/Slider.js"></script>
    </div>
    <div class="info-section">
        <div class="info-item">
            <img src="~/Image/Policies/policies_icon_1.png" alt="Shipping">
            <div class="info-text">
                <h3>Vận chuyển toàn quốc</h3>
                <p>Vận chuyển nhanh chóng</p>
            </div>
        </div>
        <div class="info-item">
            <img src="~/Image/Policies/policies_icon_2.png" alt="Offers">
            <div class="info-text">
                <h3>Ưu đãi hấp dẫn</h3>
                <p>Nhiều ưu đãi khuyến mãi hot</p>
            </div>
        </div>
        <div class="info-item">
            <img src="~/Image/Policies/policies_icon_3.png" alt="Quality">
            <div class="info-text">
                <h3>Bảo đảm chất lượng</h3>
                <p>Sản phẩm đã được kiểm định</p>
            </div>
        </div>
        <div class="info-item">
            <img src="~/Image/Policies/policies_icon_4.png" alt="Hotline">
            <div class="info-text">
                <h3>Hotline: 0789580048</h3>
                <p>Vui lòng gọi hotline để hỗ trợ</p>
            </div>
        </div>
    </div>
    <section class="ProductList" style="padding-bottom: 20px;">
        <h1>Danh sách sản phẩm</h1>
        <div class="Product-Items">
            @foreach (var product in Model)
            {
                <nav class="item">
                    <img src="~/Image/Product/@product.Image" alt="@product.Name" />
                    <h5>@product.Name</h5>
                    <h5>@product.Price.ToString("N0") <span>VNĐ</span></h5>
                    <button>Mua Hàng</button>
                </nav>
            }
        </div>
    </section>
    <br />
    <section class="ProductList">
        <h1>Danh sách Sales</h1>
        <div class="Product-Items">
            @foreach (var product in Model)
            {
                <nav class="item">
                    <img src="~/Image/Product/@product.Image" alt="@product.Name" />
                    <h5>@product.Name</h5>
                    <h5>@product.Price.ToString("N0") <span>VNĐ</span></h5>
                    <button>Mua Hàng</button>
                </nav>
            }
        </div>
    </section>
</div>

