@model List<KidMartStore.Models.Product>
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewBag.Title = "Sản phẩm";
}
<link rel="stylesheet" href="~/Content/CSS/SanPhamPages.css"/>
<section class="infor-promotion"></section>
<main class="product-list">
    <div class="search-content">
        <h2>Bộ lọc tìm kiếm</h2>
        <section class="filter">
            @foreach(var category in Model.Select(m => m.Category).GroupBy(c => c.Name_Category).Select(g => g.First()))
            {
                <label>Danh mục @category.Name_Category</label><br /><br />
            }
        </section>
    </div>
    <div class="content2">
        <section class="list-content">
            <h2>Sản phẩm KidMart</h2>
            <div class="Product-Items">
                @foreach (var product in Model)
                {
                    <nav class="item">
                        <img src="@product.Image" alt="@product.Name" />
                        <h5>@product.Name</h5>
                        <h5>@product.Price.ToString("N0") <span>VNĐ</span></h5>
                        <button>Mua Hàng</button>
                    </nav>
                }
            </div>
        </section>
    </div>
</main>

