@model List<KidMartStore.Models.Detail_Order>
@{
    ViewBag.Title = "ShowOrder";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/Thongtinnguoidung.css" />
<section class="information-top"></section>
<main class="Infor-Account">
    <div class="content1">
        <h3>Thông tin tài khoản</h3>
        <section class="Information-content-left">
            <h5>Xin chào <span>@(Session["Name"] ?? "Guest")!</span></h5>
            <a href="~/Home/Profile">Thông tin tài khoản</a><br />
            <a href="~/Home/Address">Địa chỉ</a><br />
            <a href="~/Home/ShowOrder">Đơn hàng của bạn</a>
        </section>
    </div>
    <div class="content2">
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Order.ID_Order</td>
                <td>@order.ID_Product</td>
                <td>@order.Quantity</td>
                <td>@order.ID_Product</td>
            </tr>
        }
    </div>
</main>



