﻿@model List<KidMartStore.Models.Product>
@{
    ViewBag.Title = "Quản lý sản phẩm";
    ViewBag.Pages = "ManagerProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Loại sản phẩm</th>
                                    <th>Số lượng tồn kho</th>
                                    <th>Giá sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td>@product.Name</td>
                                        <td>@product.Category.Name_Category</td>
                                        <td>@(product.Quantity == 0 ? "Đã hết hàng" : product.Quantity.ToString())</td>
                                        <td>@product.Price.ToString("N0")</td>
                                        <td><img src="~/Image/Product/@product.Image" style="width: 50px; height: 50px;" /></td>
                                        <td>
                                            <a href="@Url.Action("UpdateProduct", "Product", new { id = product.ID_Product })" class="btn btn-warning">Chỉnh sửa</a>
                                            <a href="@Url.Action("DeleteAccount", "Product", new { id = product.ID_Product })" class="btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


