@model List<KidMartStore.Models.Product>
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Admin/ManagerProduct.css" />
<section class="product-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Sản phẩm</th>
                <th>Mô tả</th>
                <th>Giá (VNĐ)</th>
                <th>Loại sản phẩm</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var products in Model)
            {
                <tr>
                    <td>@products.ID_Product</td>
                    <td>@products.Name</td>
                    <td>@products.Description</td>
                    <td>@products.Price</td>
                    <td>@products.Category.Name_Category</td>
                    <td>
                        <a href="@Url.Action("UpdateProduct", "Admin", new { id = products.ID_Product })" class="edit">Chỉnh sửa</a>
                        <a href="#" class="delete">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="add-product" onclick="window.location.href='AddNewProduct'">Thêm sản phẩm</button>
</section>

