@model List<KidMartStore.Models.Customer>
@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Admin/ManagerAccount.css" />
<section class="user-table">
    <table>
        <thead>
            <tr>
                <th>Tên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Where(c => c.Role == "Khách Hàng"))
            {
                <tr>
                    <td>@customer.Username</td>
                    <td>@customer.Phone</td>
                    <td>@customer.Email</td>
                    <td>@customer.Address</td>
                    <td>
                        <a href="#" class="edit">Chỉnh sửa</a>
                        <a href="@Url.Action("DeleteAccount", "Admin", new {id = customer.ID_Customer})" data-id="@customer.ID_Customer" class="delete">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

