@model List<KidMartStore.Models.Product>
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/Content/CSS/_managerproduct.css" />
<section class="product-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Sản phẩm</th>
                <th>Giá (VNĐ)</th>
                <th>Số lượng</th>
                <th>Hình ảnh</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var products in Model)
            {
                <tr>
                    <td>@products.ID_Product</td>
                    <td>@products.Name</td>
                    <td>@products.Price.ToString("N0")</td>
                    @if (products.Quantity == 0)
                    {
                        <td>Đã hết hàng</td>
                    }
                    else
                    {
                        <td>@products.Quantity</td>
                    }
                    <td><img src="~/Image/Product/@products.Image" style="width: 50px; height: 50px;" /></td>
                    <td>
                        <a href="@Url.Action("UpdateProduct", "Function", new { id = products.ID_Product })" class="edit">Chỉnh sửa</a>
                        <a href="#" class="delete">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="add-product" onclick="window.location.href='AddNewProduct'">Thêm sản phẩm</button>
</section>

