﻿@model List<KidMartStore.Models.Customer>
@{
    ViewBag.Title = "Danh sách người dùng";
    ViewBag.Pages = "ManagerAccount";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Khách hàng</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Phone Number</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Setting</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model.Where(c => c.Role == "Khách Hàng"))
                        {
                            <tr>
                                <td>@customer.ID_Customer</td>
                                <td>@customer.Username</td>
                                <td>@customer.Phone</td>
                                <td>@customer.Email</td>
                                <td>@customer.Address</td>
                                <td>
                                    <a href="@Url.Action("UpdateAccount", "Account", new { id = customer.ID_Customer })" class="btn btn-warning">Cập Nhật</a>

                                    <a href="@Url.Action("DeleteAccount", "Account", new { id = customer.ID_Customer })" class="btn btn-danger" onclick="return confirm('Bạn chắc chắn muốn xóa người dùng này không?');">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Nhân Viên</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Phone Number</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Setting</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model.Where(c => c.Role == "Nhân Viên"))
                        {
                            <tr>
                                <td>@customer.ID_Customer</td>
                                <td>@customer.Username</td>
                                <td>@customer.Phone</td>
                                <td>@customer.Email</td>
                                <td>@customer.Address</td>
                                <td>
                                    <a href="@Url.Action("UpdateAccount", "Account", new { id = customer.ID_Customer })" class="btn btn-warning">Cập Nhật</a>

                                    <a href="@Url.Action("DeleteAccount", "Account", new { id = customer.ID_Customer })" class="btn btn-danger" onclick="return confirm('Bạn chắc chắn muốn xóa người dùng này không?');">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>



