@model KidMartStore.Models.Product
@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/CSS/Detail.css" />
<div class="Details">
    <section class="Image-Product">
        <img src="~/Image/Product/@Model.Image" alt="@Model.Image" />
    </section>
    <section class="Information-product">
        <div class="Header-details">
            <div class="Name-product">
                <h2>Tên sản phẩm: @Model.Name</h2>
                <h4>Mã sản phẩm: @Model.ID_Product</h4>
            </div>
            <div class="Icon-love">
                <img alt="Icon yêu thích" />
            </div>
        </div>
        <div>
            <h3>Số lượng đã bán: @Model.Quantity</h3>
            <h2>Giá bán: @Model.Price.ToString("N0")</h2>
        </div>
        <div class="product-promotion">
            <h3 class="product-prodomtion-heading"><img src="~/Image/Icons/gift.png" /> KHUYẾN MÃI - ƯU ĐÃI</h3>
            <ul>
                <li>Chuyển khoản với đơn hàng từ 500k trở lên (Bắt buộc)</li>
                <li>Đồng giá ship toàn quốc 30k</li>
                <li>Hỗ trợ trả lời thắc mắc qua fanpage chính thức</li>
                <li>Khuyến mãi trực tiếp trên giá sản phẩm</li>
                <li>Đổi trả nếu sản phẩm lỗi bất kì</li>
            </ul>
        </div>
        <h3>Mã giảm: </h3>
        <h3>Kích cỡ: </h3>
        <div class="form-buy">
            <div class="select">
                <div class="quantity">
                    <button class="minus">-</button>
                    <input type="text" id="quantity" value="1">
                    <button class="plus">+</button>
                </div>
                <div class="btn-buy">
                    <a>Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="btn-buynow">
                <a>Mua ngay</a>
            </div>
        </div>
        <div class="content-another">
            <h3>Mô tả</h3>
            <h3>Chính sách giao hàng</h3>
            <h3>Chính sách đổi trả</h3>
        </div>
    </section>
</div>
<script>
    document.querySelector(".minus").addEventListener("click", function () {
        let quantity = document.getElementById("quantity");
        let currentValue = parseInt(quantity.value);
        if (currentValue > 1) {
            quantity.value = currentValue - 1;
        }
    });

    document.querySelector(".plus").addEventListener("click", function () {
        let quantity = document.getElementById("quantity");
        quantity.value = parseInt(quantity.value) + 1;
    });

</script>
